body{
  margin:0px;
}

#div_title{
  font-size: 1.5em;
  font-weight: bold;
  background: linear-gradient(#6F5595, #6F30C5);
  color: #ffffff;
}

div{
  margin-bottom: 5px;
}

#btn_submit{
  height: 45px;
  width: 120px;
}

#btn_submit{
  height: 45px;
  width: 120px;
}

#btn_submit_rta{
  height: 45px;
  width: 120px;
}

#btn_start_rta{
  height: 45px;
  width: 120px;
}

#btn_next_rta{
  height: 50px;
  width: 130px;
}


#loading {
    vertical-align: middle;
}

#tweetpng {
    vertical-align: middle;
}

#div_tweet{
  margin-bottom: 15px;
}

#edt_if{
  width: 250px;
}

#grid {
	margin-top: 2px;
    max-width: 500px;
}

#grid_rta {
	margin-top: 2px;
    max-width: 500px;
}

.jsgrid-header-row>.jsgrid-header-cell {
    background: #d9d9ff;
}

.jsgrid-grid-header {
    overflow-y: auto;
}

.jsgrid-grid-body {
    overflow-y: auto;
}

.jsgrid-header-cell {
    font-size:.8em;
    padding:.2em;
}

.jsgrid-cell {
    font-size:.8em;
    padding:.2em;
}
