body{
  margin:0px;
}

#div_readme_head {
    background: #e9e9ff;
    margin-bottom: 2px;
}

#div_readme_body {
    background: #f6f6ff;
}

.subtitle {
  font-size: 1.25em;
  font-weight: bold;
}

#div_title{
  font-size: 1.25em;
  font-weight: bold;
  background: linear-gradient(#40bF80, #80bF40);
  color: #ffffff;
}

#edt_url{
	width: 320px;
}

#div_readme_body {
    font-size:.8em;
}

#loading {
    vertical-align: middle;
}
